@using Microsoft.AspNetCore.Identity
@using SimpleShop.Models

@inject SignInManager<ApplicationUser> SignInManager // <<--- 更改為 ApplicationUser--->
    
@inject UserManager<ApplicationUser> UserManager // <<--- 更改為 ApplicationUser--->
        
        <ul class="navbar-nav">
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item">
                    @{
                        // 獲取當前用戶的實例，現在 UserManager 是 UserManager<ApplicationUser>
                        var user = await UserManager.GetUserAsync(User);
                        var userName = user?.UserName; // 或者 user?.FullName 如果您想顯示全名
                        if (user is ApplicationUser appUser && !string.IsNullOrEmpty(appUser.FullName))
                        {
                            userName = appUser.FullName; // 優先使用 FullName
                        }
                    }
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">你好 @userName!</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index","Home",new{area=""})">
                        <button type="submit" class="nav-link btn btn-link text-dark">登出</button>
                    </form>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">註冊</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">登入</a>
                </li>
            }
        </ul>
